$green-color: #006400;
$blue-color: #436EEE;
html {
    font-size: 62.5%;
}

body {
    font-family: 'Arimo', sans-serif;
    box-sizing: border-box;
}

.work {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    &__heading {
        color: #1a0a3b;
        font-weight: 500;
        font-size: 2.5rem;
        // border-bottom: 4px solid $green-color;
        // display: inline-block;
        text-transform: capitalize;
        padding-bottom: 2rem;
        margin-bottom: 3rem;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 4rem;
            height: 6px;
            border-radius: 2rem;
            background-color: $green-color;
        }
    }
    &__filter {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
        .work-tab {
            display: flex;
            &__item {
                cursor: pointer;
                padding: 1rem 1.5rem;
                border: 1px solid $green-color;
                text-align: center;
                border-radius: 2rem 0 2rem 2rem;
                transition: all 0.25s ease-in;
                &:hover {
                    background-color: $green-color;
                    color: white;
                }
                &:not(:first-child) {
                    margin-left: 1rem;
                }
            }
        }
        .work__all {
            text-decoration: none;
            display: inline-block;
            padding: 5px;
            color: $green-color;
            font-size: 1.4rem;
            border-radius: 2rem;
            background-color: rgba($green-color, 0.25);
            transition: all 0.25s ease-in;
            &:hover {
                background-color: $green-color;
                color: white;
            }
        }
    }
    &__list {
        display: flex;
        margin-left: -1.5rem;
        .work__item {
            width: calc(25% - 1.5rem);
            border-radius: 6px;
            overflow: hidden;
            margin-left: 1.5rem;
            .work__img {
                width: 100%;
                object-fit: cover;
                object-position: top;
            }
        }
    }
}

@media only screen and (max-width: 1023px) {
    .work {
        .work__list {
            flex-wrap: wrap;
            .work__item {
                width: calc(50% - 1.5rem);
                margin-bottom: 1.5rem;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .work {
        .work__list {
            flex-wrap: wrap;
            .work__item {
                width: calc(100% - 1.5rem);
            }
        }
        .work__filter {
            flex-direction: column;
            .work-tab {
                flex-wrap: wrap;
                justify-content: center;
                .work-tab__item {
                    margin-bottom: 1.5rem;
                }
            }
        }
    }
}